<div class="modal" id="story-modal">
  <div class="modal__content  modal__content--story">

    <!-- <video class="modal__video" poster="assets/images/video_vert.jpg">
      <source src="https://www.youtube.com/embed/41kjGvSPaEw">
    </video> -->

    <iframe class="modal__video" src="https://www.youtube.com/embed/1La4QzGeaaQ" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

  </div>
</div>